<ion-view class="row row-no-padding">
        <div class="col col-center">
            <div class="logo">
                <i class="icon ion-ios-location"></i>
            </div>
            <div class="list">
                <label class="item item-input">
                    <input type="text" ng-model="email" placeholder="Email">
                </label>
                <label class="item item-input">
                    <input type="password" ng-model="password" placeholder="Password">
                </label>
            </div>
            <div class="padding-left padding-right">

                <!-- ng-click="login()" -->
                <button class="button button-block button-positive" ui-sref="tab.my-place">Sign in</button>
            </div>
            <div class="row">
                <div class="col text-center">
                    <button class="button button-outline button-positive btn-mini" ng-click="openSignUp()">
                        Sign up
                    </button>
                </div>
            </div>

        </div>
</ion-view>
